<h1 style="text-align: center;"> All Courses</h1>


<table class="table table-bordered">
	<% @courses.each do |course| %>

		<thead>
			<tr>
				<th scope="col">Title </th>
				<th scope="col">CourseName</th>
     			<th scope="col">Description</th>
      			<th scope="col">CourseOutline</th>
            <th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
    <tr>
  		<td><%= course.title %></td>
      <td><%= course.coursename %></td>
      <td><%= course.description %></td>
      <td><%= course.courseoutline %></td>
      <td>
        <%= link_to("Show", {:action => 'show', :id => course.id} ) %>
        <%= link_to("Edit") %>
        <%= link_to("Delete") %>
      </td>

    </tr>

  </tbody>


<% end %>
</table>