<%= render 'shared/navbar' %>
    <% @courses.each do |course| %>
    <section>
        <div class="container">
              <div class="row">
                    <div class="col-md-3">
                           <%= image_tag course.image, style: "width: 250px;"%> 
                           <b><%= link_to(course.coursename, course_path(course)) %></b>                        
                    </div> 
                    <div class="col-md-3">
                            <%= course.description %>
                    </div>
                    <div class="col-md-3">
                      <h4>Duration</h4>
                          <h5> <%= course.hours %> Hours</h5>
                    </div>
          </div>
        </div>
    </section>
   <% end %> 
   <%= render 'shared/footer' %>
